@import url('../utilities/default.css');
@import url('../utilities/header.css');
@import url('../utilities/footer.css');
@import url('../utilities/buttons.css');
@import url('../utilities/carousel.css');





/* Blog post cards */
.blog-card-wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.blog-card {
    max-width: 390px;
    height: 429px;
    background: var(--dark-grey);
    transition: 0.3s ease;

}

.blog-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(228, 228, 228, 0.75);
}

.card-img-container {
    max-width: 390px;
    max-height: 224px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img-container img{
    max-height: 100%;
}

.blog-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.card-title-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-title-date h2 {
    font-size: 20px;
}

.card-title-date p {
    font-size: 14px;
}