@import url('../utilities/default.css');
@import url('../utilities/header.css');
@import url('../utilities/footer.css');
@import url('../utilities/buttons.css');
@import url('../utilities/carousel.css');
@import url('../utilities/loader.css');
@import url('../utilities/select-blogs.css');



.welcome-user-title {
    font-size: 50px;
}

.intro-container {
    border-bottom: 1px solid var(--faded-light-grey-20);
    max-width: 1090px;
    /* padding: 35px; */
    text-align: center;
}

.button-options-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    gap: 1vw;
}


.blog-card-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 35px;
}

.blog-card {
    
    border-bottom: 1px solid var(--faded-light-grey-20);
}

.blog-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(228, 228, 228, 0.75);
}

.card-img-container {
    width: 100%;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
}

.card-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.card-title-date {
    text-align: center;
    gap: 20px;
}

.card-title-date p {
    font-size: 12px;
}

.pag-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

.fa-solid {
    color: var(--white);
}

.fa-trash-can {
    color: red;
}




@media screen and (max-width: 1091px) { 
    .blog-card {
        box-shadow: 0px 0px 10px 1px rgba(228, 228, 228, 0.25);
    }

}

@media screen and (max-width: 944px) { 
    .card-img-container {
        height: 400px;
    }
    
}


@media screen and (max-width: 768px) { 
    .welcome-user-title {
        font-size: 35px;
    }
    .blog-card-wrapper {
        gap: 20px;
    }
    
}

@media screen and (max-width: 500px) {
    .welcome-user-title {
        font-size: 20px;
    }
    .blog-card-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        gap: 20px;
    }
    .card-img-container {
        height: 300px;
    }
}
