@import url('../utilities/default.css');
@import url('../utilities/header.css');










/* .carousel {
    max-width: 1440px;
    max-height: 750px;
    
}
.big-img {
    background-image: url('/assets/images/IMG_20210927_132933.jpg');
    background-size: cover;

} */