@import url('../utilities/default.css');
@import url('../utilities/buttons.css');
@import url('../utilities/header.css');
@import url('../utilities/footer.css');
@import url('../utilities/media-queries.css');




.log-reg-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 100px;
}

form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px; 
    margin-bottom: 35px;
}

input {
    padding: 0 0 0 35px;
    height: 60px;
    outline: 1px solid;
    border: none;
    border-radius: 30px;
    font-family: var(--roboto);
    font-size: 20px;
}

input:placeholder-shown {
    padding-left: 35px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.btn {
    width: fit-content;
}



.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--faded-dark-grey-99);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 250px;
    border-radius: 5px;
    z-index: 1000;
}

.alert-content {
    text-align: center;
}

.alert-content h2 {
    margin-bottom: 10px;
}

.alert-content p {
    margin-bottom: 0;
}