@import url('../utilities/default.css');
@import url('../utilities/buttons.css');
@import url('../utilities/header.css');
@import url('../utilities/footer.css');
@import url('../utilities/media-queries.css');




.log-reg-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 100px;
}

form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px; 
    margin-bottom: 35px;
}

input {
    padding: 0 0 0 35px;
    height: 60px;
    outline: 1px solid;
    border: none;
    border-radius: 30px;
    font-family: var(--roboto);
    font-size: 20px;
    width: 100%;
}

input:placeholder-shown {
    padding-left: 35px;
    font-size: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.btn {
    width: fit-content;
}



.log-reg-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 250px;
    border-radius: 5px;
    z-index: 1000;
}

.alert-reg-success {
    text-align: center;
}

.alert-reg-success h2 {
    margin-bottom: 10px;
}

.alert-reg-success p {
    margin-bottom: 0;
}

.error-message {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    color: red;
    padding-top: 5px;
}