@import url('../utilities/default.css');
@import url('../utilities/header.css');
@import url('../utilities/footer.css');
@import url('../utilities/buttons.css');
@import url('../utilities/media-queries.css');


.blog-post-img-wrapper {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.post-img-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.blog-post-img-wrapper img {
    width: 100%;
    height: 750px;
    display: flex;
    object-fit: cover;
}

/* Blog Text */

.blog-content-wrapper {
    max-width: 845px;
}

.blog-text-wrapper {
    font-size: 20px;
}


.blog-text-wrapper p {
    padding-bottom: 20px;
}

.posted {
    font-size: 14px;
}