
.btn, .btn-img {
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    padding: 15px 35px;
    border-radius: 30px;
}

.btn {
    background: none;
    border: 1px solid var(--faded-light-grey-20)
}

.btn-img {
    background: var(--faded-dark-grey-20);
    border: 1px solid var(--faded-light-grey-75)
}

.btn:hover, .btn-img:hover {
    color: black;
    background: var(--faded-light-grey-75);
}

.carousel-btn {
    border-radius: 100%;
    background: var(--faded-dark-grey-20);
    z-index: 2;
    transition: 0.3s ease;
    cursor: pointer;
}

.carousel-btn:hover {
    background: var(--faded-dark-grey-60);
}

.btn, .btn-img, .carousel-btn {
    cursor: pointer;
}