:root {
    --dark-grey: #181818;
    --white: #FFFFFF;
    --footer-grey: #222222;
    --faded-light-grey-20: rgba(228, 228, 228, 0.20);
    --faded-light-grey-75: rgba(228, 228, 228, 0.75);
    --faded-dark-grey-20: rgba(24, 24, 24, 0.20);
    --faded-dark-grey-60: rgba(24, 24, 24, 0.60);
}


h1, h2 {
    color: var(--white);
    font-family: "Inika", serif;
    font-weight: 700;
}

a, p {
    color: var(--white);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

a, p, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-grey);
    margin: 0;
}

main {
    margin: 100px;
}




/* ----- CLASSES FOR HTML FILE ----- */

/* Drop shadow for text that will be over an image */
.ds-txt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

/* paddin bottom */
.pb-35 {
    padding-bottom: 35px;
}

.px-35 {
    padding: 35px;
}

.py-35 {
    padding: 35px;
}

.gap-35 {
    gap: 35px;
    display: flex;
    flex-direction: column;
}


/* Hover */
.hover-scale {
    transition: 0.3s ease;
    cursor: pointer;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.hover {
    transition: 0.3s ease;
    cursor: pointer;
}


.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.absolute {
    position: absolute;
    z-index: 1;
    top: 0;
}