:root {
    /* Colors */
    --dark-grey: #181818;
    --white: #FFFFFF;
    --footer-grey: #222222;
    --faded-light-grey-20: rgba(228, 228, 228, 0.20);
    --faded-light-grey-75: rgba(228, 228, 228, 0.75);
    --faded-dark-grey-20: rgba(24, 24, 24, 0.20);
    --faded-dark-grey-60: rgba(24, 24, 24, 0.60);
    
    /* Fonts */
    --roboto: "Roboto", sans-serif;
    --inika: "Inika", serif;
}


h1, h2 {
    color: var(--white);
    font-family: var(--inika);
    font-weight: 700;
}

h1 {
    font-size: 48px;
}

a, p {
    color: var(--white);
    text-decoration: none;
    font-family: var(--roboto);
}

a, p, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-grey);
    margin: 0;
}

main {
    margin: 100px 35px;
}

.big-img-shadow {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 0;
}


/* ----- CLASSES FOR HTML FILE ----- */

/* Drop shadow for text that will be over an image */
.ds-txt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

/* Padding */
.pb {
    padding-bottom: 35px;
}

.px {
    padding: 0 35px;
}

.py {
    padding: 35px 0;
}

/* Gap */

.gap {
    gap: 35px;
    display: flex;
    flex-direction: column;
}


/* Hover */
.hover-scale {
    transition: 0.3s ease;
    cursor: pointer;
}

.hover-scale:hover {
    transform: scale(1.1);
}

.hover {
    transition: 0.3s ease;
    cursor: pointer;
}

/* Flex */

.flex-center {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}


/* Absolute */

.absolute {
    position: absolute;
    z-index: 1;
    top: 0;
}