footer {
    height: 200px;
    background: var(--footer-grey);
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.logo-footer {
    height: 150px;
    max-width: 100%;
}


