footer {
    height: 200px;
    background: var(--footer-grey);
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 150px;
    max-width: 100%;
}


@media screen and (max-width: 500px) {
    .logo-footer {
        height: 100px;
        max-width: 100%;
    }
}