/*Will use this part later, did not have the time to try this with api*/

.header {
    max-width: 1440px;
    width: 100%;
}

nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav-absolute {
    position: absolute;
    z-index: 5;
    top: 0;
}

nav img {
    padding-left:35px;
}

nav div {
    display: flex;
    gap: 65px;
    padding-right: 35px;
}

a { 
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media screen and (max-width: 1091px) {
    nav {
        height: 100px;
    }
    nav img{
        height: 75px;
    }
    nav div {
        gap: 35px;
    }
    a {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    
    nav {
        height: 55px;
        align-items: end;
    }
    nav img{
        height: 50px;
        padding-left: 10px;
    }
    nav div {
        gap: 20px;
        padding-right: 10px;
    }
    a {
        font-size: 16px;
    }
}