
header {
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav-absolute {
    position: absolute;
    z-index: 3;
    top: 0;
}

nav img {
    padding-left:35px;
}

nav div {
    display: flex;
    gap: 65px;
    padding-right: 35px;
}

a { 
    font-size: 20px;
}