nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 35px ;
    height: 150px;
}

nav div {
    display: flex;
    gap: 65px;
}

a { 
    font-size: 20px;
}