/* 1091, 768, 500 */


@media screen and (max-width: 1091px) {

    
}



@media screen and (max-width: 768px) {
    main {
        margin: 50px 20px;
    }

    a {
        font-size: 16px;
    }
    .gap {
        gap: 20px;
    }
    .px {
        padding: 0 20px;
    }
    .py {
        padding: 20px 0;;
    }
    .pl {
        padding-left: 20px;
    }
    
    .pr {
        padding-right: 20px;
    }
    
    .pt {
        padding-top: 20px;
    }
    
    .pb {
        padding-bottom: 20px;
    }
}



@media screen and (max-width: 500px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    .carousel  {
        height: 450px;
    }
}