/* 1091, 768, 500 */


@media screen and (max-width: 1091px) {

    
    nav {
        height: 100px;
    }
    nav img{
        height: 75px;
    }
    nav div {
        gap: 35px;
    }
    a {
        font-size: 18px;
    }

/* Carousel */
    .carousel-btn {
        height: 100px;
        width: 100px;
    }
    .carousel-h1-title{
        font-size: 40px;
    }
    
}



@media screen and (max-width: 768px) {

    main {
        margin: 50px 20px;
    }
    
    nav {
        height: 55px;
        align-items: end;
    }
    nav img{
        height: 50px;
        padding-left: 20px;
    }
    nav div {
        gap: 20px;
        padding-right: 20px;
    }
    a {
        font-size: 16px;
    }

/* Carousel */
    .carousel-btn {
        height: 65px;
        width: 65px;
        top: 90%
    }
    .carousel-btn.left {
        left: 20px;
    }
    .carousel-btn.right {
        right: 20px;
    }
    .carousel-btn i {
        font-size: 20px;
    }


    .px {
        padding-left: 20px;
        padding-right: 20px;
    }
}



@media screen and (max-width: 500px) {

    .links {
        flex-direction: column;
    }
}